body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #031C42;
}

th, td {
    padding: 10px;
    text-align: left;
}
.status-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}


.custom-btn {
    background-color: #031C42; 
    color: #AEB3C0; 
    border: none; 
}

.custom-btn:hover {
    background-color: #001637; 
    color: #AEB3C0; 
}

.table-responsive {
    margin: 0 auto; 
}

.table td, .table th {
    text-align: center; 
}
