<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1 class="text-center h1-animated">AluMind - Relatório</h1>
        </header>
        
        <section>
            <h2 class="my-4">Tabela de Feedbacks</h2>
            <div class="table-responsive text-center"></div>
                <table class="table table-striped mx-auto" id="feedbackTable">
                    <thead class="thead-custom">
                        <tr>
                            <th></th> 
                            <th>ID</th>
                            <th>Feedback</th>
                            <th class="text-center">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody id="feedbackTableBody">
                        {% for feedback in feedbacks %}
                            <tr>
                                <td class="text-center align-middle">
                                <a href="{{ url_for('pages_routes.feedback_detail', feedback_id=feedback.feedback_id) }}" 
                                    class="btn custom-btn btn-sm" 
                                    title="Ver detalhes"
                                    target="_blank">
                                    Mais detalhes
                                </a>
                                    
                                    
                                </td>
                                <td>{{ feedback.feedback_id }}</td>
                                <td>{{ feedback.feedback }}</td>
                                <td class="text-center align-middle">
                                    <span class="status-circle {{ feedback.status }}" title="{{ 'Feedback analisado' if feedback.status == 'green' else 'Feedback ainda não analisado' }}"></span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination pagination-custom justify-content-center" id="pagination">
                    <!-- Paginação será gerada pelo JavaScript -->
                </ul>
            </nav>
        </section>

        <section>
            <h2 class="my-4 h2-white-bg">Distribuição de Sentimentos</h2>
            <div id="sentimentChart"></div>
        </section>

        <section>
            <h2 class="my-4 h2-white-bg">Top 10 features mais pedidas</h2>
            <div id="featuresChart"></div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>const feedbackData = {{ feedbacks | tojson }};</script>


<!-- Modal HTML -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Detalhes do Feedback</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="spinner" class="text-center my-4">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Carregando...</span>
                    </div>
                </div>
                <div id="feedbackDetails" style="display: none;">
                    <!-- Detalhes do feedback serão inseridos aqui -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


  
  


</body>

</html>
